/* created a container to store all page content */
#container {
	border: 1px solid white;
	display: flex;
    flex-wrap: wrap;
	flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
/* positioned the header in top left corner */
header p {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "New Courier", Serif;
}
/* changed the main title colour to darkorange */
h1 {
    color: darkorange;
    text-transform: lowercase;
    font-size: 200px;
    font-family: "New Courier", Serif; 
    text-align: center;
}
/* made all h2 content lowercase */
h2 {
    text-transform: lowercase;
    font-family: "New Courier", Serif; 
    font-size: 38px;
}
/* made all h3 elements have uppercase text */
h3 {
    text-transform: uppercase;
}
main {
    border: 5px solid white;
    background: white;
    display: flex;
    flex-wrap: wrap;
}
/* put all of the section elements together to be placed on the right side */
section.keeptogether {
    display: inline-block;
    width: 700px;
    position: absolute;
    right: 0;
    top: 450px;
}
/* positioned the aside to the top left */
aside {
    flex-basis: 1;
    order: 1;
    display: inline-block;
    width: 700px;
    position: absolute;
    left: -740px;
    top: -15px;
}
/* created a divider above the live well section */
.live-well {
    border-top:14px solid limegreen;
    flex-basis: 700px;
    order: 3;
}
/* changed the h3 colour to limegreen */
.live-well h3 {
    color: limegreen;
}
.style {
    border-top:14px solid deeppink;
    flex-basis: 700px;
    order: 4;
}
.style h3 {
    color: deeppink;
}
.health {
    border-top:14px solid darkturquoise;
    flex-basis: 700px;
    order: 5;
}
.health h3 {
    color: darkturquoise;
}
/* changed the size and position of the aside content under the image */
.legend {
    border: 1px solid orange;
    height: 400px;
    width: 450px;
    order: 2;
    position: absolute;
    top: 1250px;
    left: -650px;
}
aside figure p {
    color: white;
    position: relative;
    left: 60px;
    top: -80px;
}
/* made the aside strong text uppercase */
aside strong {
    text-transform: uppercase;
}
figcaption strong {
    position: absolute;
    top: -80px;
    font-size: 70px;
}
/* rotated the text counter-clockwise and positioned it to the left of the .legend */
.keith {
    transform: rotate(-90deg);
    color: black;
    position: absolute;
    top: 1610px;
    left: -20px;
}
/* increased the line-height of the list */
aside ol {
    line-height: 2;
}
/* positioned the footer in the bottom right corner */
footer {
    border: 5px solid white;
	background: white;
    text-align: right;
    position: absolute;
    bottom: -1450px;
    right: 10px;
}
/* added the orange colour to the disc in the footer */
footer bold {
    color: orange;
}
